@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

[role=button], button {
    cursor: pointer;
}

.react-datepicker-wrapper {
    width:100%;
    height:100%;
}

.react-datepicker-wrapper > div{
    height:100%;
}

.react-datepicker-wrapper input{
    height:85%;
    padding: calc(var(--spacing) * 2.5);
}

@layer components {
    .input-custom {
        @apply flex-grow pl-5 focus:outline-none bg-transparent border-transparent focus:border-transparent focus:ring-0 text-sm text-gray-600;
    }
}